* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
button {
  font-family: "Avenir Next", -apple-system, system-ui, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

html {
  font-size: 20px;
  background: #000;
  color: #fff;
  line-height: 1;
}

body {
  background: linear-gradient(0deg, #16202b, #0e141a);
}

h1 {
  font-weight: 700;
  font-size: 2rem;
}

h2 {
  font-weight: 900;
  font-size: 1rem;
  letter-spacing: 2px;
  margin-bottom: 1rem;
}

p {
  margin: 2rem 0;
  color: #6e7d9a;
}

a {
  text-decoration: none;
  color: #fff;
  transition: 200ms color ease-in-out;
}

section {
  padding: 1rem 0;
  text-align: center;
}

img {
  max-width: 1200px;
}

.hero {
  padding: 6rem 1rem 3rem;
}

.colors {
  display: flex;
  align-items: center;
  justify-content: center;
}

.strip {
  flex: 1;
  height: 8px;
}

.dark {
  background: #0e141a;
}

.pink {
  background: #ff006a;
}

.blue {
  background: #44dfff;
}

.yellow {
  background: #f5af19;
}

.green {
  background: #aaed36;
}

.gray {
  background: #6e7d9a;
}

.button {
  background: #ff006a;
  padding: 0.75rem 1.5rem;
  display: inline-block;
  border-radius: 2rem;
  color: #fff;
  transition: 100ms background ease-in-out;
  font-weight: 500;
  border: 0;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.25);
}

.button:hover {
  background: #db005b;
}

.footer {
  color: #6e7d9a;
  font-size: 0.8rem;
  padding: 0 0 6rem;
}

.footer a {
  color: #93a9d4;
}

.footer a:hover {
  color: #fff;
}

.interpunct {
  opacity: 0.5;
}

button {
  padding: 0.25rem 0.75rem;
  border-radius: 2rem;
  background: none;
  font-size: 14px;
  color: #fff;
  border: 0;
  margin: 0 8px 0 0;
  cursor: pointer;
  transition: 300ms background ease-in-out;
  font-weight: 500;
  color: #6e7d9a;
}

button:hover {
  background: #ffffff11;
  transition: none;
}

.active {
  outline: none;
  background: #ffffff11;
  color: #fff;
}

.title-section {
  margin-bottom: 3rem;
}

/* Animations */

.materialize {
  opacity: 0;
  animation-name: materialize;
  animation-delay: 500ms;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes materialize {
  from {
    opacity: 0;
    filter: blur(4px);
    letter-spacing: 4px;
  }

  to {
    opacity: 1;
    filter: blur(0);
    letter-spacing: 0;
  }
}

.fadeIn {
  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.first {
  animation-delay: 250ms;
}

.second {
  animation-delay: 500ms;
}

.third {
  animation-delay: 750ms;
}

.fourth {
  animation-delay: 1000ms;
}

.fifth {
  animation-delay: 1250ms;
}
